<h2>About Charity Water</h2>
<p>Ini Website Cuman buat Cashout aja ya Bos,Kalau mau Kerjasama PM dulu sama yang punya Website.</p>

<h2>Feature & Method</h2>
<ul>
  <li>Merchant Payrexx</li>
  <li>Gunakan CC to PP ala SpammerID (Recommend NON US)</li>
  <li>Bagi Hasil 50:50 Kontak <a href="https://facebook.com/grimmjow.id">Facebook</a> Dulu</li>
</ul>

<p>Method Donate Menggunakan Masking dari <a href="https://charitywater.org">charitywater.org</a> (Jadi Bisa Dibilang Peluang Dispute Sangat-Sangat Kecil)</p>
<p>Ya Bisa dibilang ini Fitnah, tapi ya biarin namanya juga Maling</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://facebook.com/grimmjow.id">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://charitywater.me">The Author</a>
  </li>
</ul>
